:root {
	--background-color: #EEEEEE;
    --accent-button: #5932EA;
    --font-side-menu-color: #9197B3;
    --white: #FFFFFF; 
    --table-font-color-accent: #B5B7C0;
    --table-font-color-subtitle: #16C098;
    --status-button-active: rgba(22,192,152, 0.38);
    --status-button-border-active: #00B087;
    --status-button-inactive:#FFC5C5;
    --status-button-border-inactive:#DF0404;
    --menu-button-background:#333;
    --dashboard-input-wrapper: #7E7E7E;
    --pag-inactive: #F5F5F5;
}