@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  box-sizing: border-box;
  font-family: "Poppins";
  width: 100%;
  background-color: #FAFBFF;
}

main {
  height: 1200px;
  box-sizing: border-box;
}
@media screen and (min-width: 1199px) {
  main {
    display: flex;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -306px;
  width: 306px;
  height: 100%;
  padding-top: 36px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 76px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 10;
  transition: left 0.3s ease;
}

.side-menu.active {
  left: 0;
}

.side-menu__logo-wrapper {
  margin-bottom: 64px;
}

.side-menu__logo-title {
  font-family: "Poppins";
  font-size: 26px;
  font-weight: 700;
}

.side-menu__logo-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.side-menu__logo {
  display: flex;
  align-items: center;
  color: black;
  gap: 8px;
}

.side-menu__logo-text {
  margin-bottom: 6px;
}

.icon {
  fill: currentColor;
}

.icon--active {
  color: var(--white);
  z-index: 2;
}

.side-menu__logo-text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 10px;
}

.side-menu__link {
  font-family: "Poppins";
  font-size: 14px;
  color: #9197B3;
  display: flex;
  align-items: center;
  gap: 14px;
  z-index: 2;
}

.side-menu__link--active {
  color: var(--white);
}

.side-menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  color: var(--font-side-menu-color);
  position: relative;
}
.side-menu__item--active {
  color: var(--white);
}

.side-menu__item--active {
  color: var(--white);
}
.side-menu__item--active::after {
  content: "";
  position: absolute;
  left: -11px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-button);
  border-radius: 4px;
  padding: 11px;
  z-index: 1;
}

.wrapper {
  color: var(--white);
}
.wrapper::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  background-color: var(--accent-button);
}

.side-menu__body-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-card {
  display: flex;
  align-items: center;
  font-family: "Poppins";
}

.user-card__name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-card__role {
  font-size: 12px;
  font-weight: 400;
}

.user-card__avatar-wrapper {
  margin-right: 12px;
}

.dashboard-section {
  padding-top: 41px;
  box-sizing: border-box;
  margin-left: 0 auto;
}
@media screen and (min-width: 1199px) {
  .dashboard-section {
    margin-left: 379px;
  }
}

.dashbord-wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 968px;
  /* height: 812px; */
  background-color: var(--white);
  padding-top: 30px;
  padding-right: 44px;
  padding-left: 38px;
  padding-bottom: 41px;
}

.dashboard-body {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .dashboard-body {
    overflow-x: hidden;
  }
}

/* .dashboard-body__table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 40px;
    border-collapse: separate;
}

th, td {
    white-space: nowrap;
} */
.dashboard-body__table {
  border-collapse: collapse; /* Сжимаем границы таблицы */
  width: 100%;
  font-size: 14px;
}

.dashboard-body__table th,
.dashboard-body__table td {
  padding: 20px; /* Устанавливаем внутренний отступ для всех ячеек */
}

/* Убираем padding для первой колонки */
.dashboard-body__table th:first-child,
.dashboard-body__table td:first-child {
  padding-left: 0;
}

/* Убираем padding для последней колонки */
.dashboard-body__table th:last-child,
.dashboard-body__table td:last-child {
  padding-right: 0;
}

/* Убираем padding для первой строки */
.dashboard-body__table tr:first-child th,
.dashboard-body__table tr:first-child td {
  padding-top: 0;
}

/* Убираем padding для последней строки */
.dashboard-body__table tr:last-child th,
.dashboard-body__table tr:last-child td {
  padding-bottom: 0;
}

.dashboard-body__item {
  text-align: left;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .dashboard-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.dashboard-header__title-wrapper {
  font-family: "Poppins";
}

.dashboard-header__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.dashboard-header__subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--table-font-color-subtitle);
}

.dashboard-header__input-wrapper {
  color: var(--dashboard-input-wrapper);
  position: relative;
}

.dashboard-header__input {
  box-sizing: border-box;
  max-width: 216px;
  height: 38px;
  border-radius: 10px;
  padding-left: 40px;
  border: none;
}

.dashboard-header__input::-moz-placeholder {
  font-family: "Poppins";
  font-size: 12px;
  color: var(--table-font-color-accent);
}

.dashboard-header__input::placeholder {
  font-family: "Poppins";
  font-size: 12px;
  color: var(--table-font-color-accent);
}

.icon-search {
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 10px;
}

.dashboard-body__item--accent {
  color: var(--table-font-color-accent);
  font-weight: 500;
}

.status-button {
  padding: 0;
  height: 30px;
  width: 80px;
  background-color: var(--status-button-active);
  border: 1px solid var(--status-button-border-active);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.status-button--disable {
  height: 30px;
  width: 80px;
  background-color: var(--status-button-inactive);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--status-button-border-inactive);
  color: var(--status-button-border-inactive);
}

.title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
  margin-left: 80px;
}

.dashboard-footer {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 767px) {
  .dashboard-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.dashboard-footer__text {
  font-size: 14px;
  color: var(--table-font-color-accent);
}

.pagination__item {
  width: 25px;
  height: 25px;
  background-color: var(--pag-inactive);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__item--active {
  width: 25px;
  height: 25px;
  background-color: var(--accent-button);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.dashboard-footer__pagination {
  display: flex;
  gap: 12px;
}

.pagination__item-text {
  font-size: 12px;
}

.menu-button {
  font-size: 15px;
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: var(--menu-button-background);
  color: var(--white);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.close-button {
  font-size: 15px;
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: var(--status-button-inactive);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

:root {
  --background-color: #EEEEEE;
  --accent-button: #5932EA;
  --font-side-menu-color: #9197B3;
  --white: #FFFFFF;
  --table-font-color-accent: #B5B7C0;
  --table-font-color-subtitle: #16C098;
  --status-button-active: rgba(22,192,152, 0.38);
  --status-button-border-active: #00B087;
  --status-button-inactive:#FFC5C5;
  --status-button-border-inactive:#DF0404;
  --menu-button-background:#333;
  --dashboard-input-wrapper: #7E7E7E;
  --pag-inactive: #F5F5F5;
}/*# sourceMappingURL=index.css.map */